USE [db_a7998a_irfan093]
GO
/****** Object:  UserDefinedFunction [dbo].[GetDistance]    Script Date: 10/19/2021 1:06:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDistance] (@sourceLatitude float,@sourceLongitude float, @destinationLatitude float ,@destinationLongitude float,@UserEmail varchar(max))
RETURNS @OutputTable TABLE ( Distance float )
AS
BEGIN    
       Declare @Unit varchar(10)
	   select @Unit=UserDistanceUnit from DatingUser where UserEmail=@UserEmail
	   DECLARE @Distance FLOAT  
	   SELECT @Distance=GEOGRAPHY::Point(@sourceLatitude, @sourceLongitude, 4326).STDistance(GEOGRAPHY::Point(@destinationLatitude,@destinationLongitude, 4326))
       if @Unit='Km'
	   begin
	   set @Distance=@Distance/1000
	   end
	   else 
	   begin
	   set @Distance=(@Distance/1000)*0.623
	   end
	   INSERT INTO @OutputTable ( Distance ) values (@Distance)
    RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserDistance]    Script Date: 10/19/2021 1:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  FUNCTION [dbo].[GetUserDistance] (@sourceLatitude float,@sourceLongitude float, @destinationLatitude float ,@destinationLongitude float,@UserEmail varchar(max))
RETURNS float
AS
BEGIN    
       Declare @Unit varchar(10)
	   select @Unit=UserDistanceUnit from DatingUser where UserEmail=@UserEmail
	   DECLARE @Distance FLOAT  
       SET @Distance = SQRT(POWER(69.1 * ( @destinationLatitude - @sourceLatitude), 2) + POWER(69.1 * ( @sourceLongitude  - @destinationLongitude ) * COS(@destinationLatitude / 57.3), 2))  
	   if @Unit='Km'
	   begin
	   set @Distance=@Distance/0.623
	   end
	  
    RETURN @Distance
END

 
GO
/****** Object:  Table [dbo].[AllLocation]    Script Date: 10/19/2021 1:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllLocation](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](max) NULL,
	[LocationName] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockUser]    Script Date: 10/19/2021 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockUser](
	[BlockId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](200) NULL,
	[BlockByEmail] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatingUser]    Script Date: 10/19/2021 1:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatingUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](500) NULL,
	[UserName] [varchar](500) NULL,
	[UserPhone] [varchar](200) NULL,
	[UserGender] [varchar](100) NULL,
	[UserSex] [varchar](100) NULL,
	[UserAge] [int] NULL,
	[UserMaxDistance] [int] NULL,
	[UserDistanceUnit] [varchar](20) NULL,
	[ShareMyFeed] [bit] NULL,
	[ShowMeInTopPick] [bit] NULL,
	[UserActvieStatus] [bit] NULL,
	[UserLastSeen] [datetime] NULL,
	[UserImage] [varchar](max) NULL,
	[RecommendSort] [bit] NULL,
	[LocationLatitude] [float] NULL,
	[LocationLongititude] [float] NULL,
	[LocationName] [varchar](max) NULL,
	[UserInterest] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[AboutKarter] [varchar](max) NULL,
	[LookingFor] [varchar](100) NULL,
	[Profession] [varchar](200) NULL,
	[Height] [varchar](200) NULL,
	[IsUserActive] [bit] NULL,
	[IsSuperLikeSubscribed] [bit] NULL,
	[UserMartialStatus] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlan]    Script Date: 10/19/2021 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlan](
	[PlanId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](max) NULL,
	[PlanDescription] [varchar](max) NULL,
	[PlanStartDate] [datetime] NULL,
	[PlanEndDate] [datetime] NULL,
	[PlanAmount] [float] NULL,
	[PlanMonths] [int] NULL,
	[IsPlanActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFilter]    Script Date: 10/19/2021 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFilter](
	[FilterId] [int] IDENTITY(1,1) NOT NULL,
	[IsViewStyleClassic] [bit] NULL,
	[LocationName] [varchar](max) NULL,
	[LocationLatitude] [float] NULL,
	[LocationLongititude] [float] NULL,
	[Gender] [varchar](max) NULL,
	[Distance] [float] NULL,
	[Sex] [varchar](max) NULL,
	[AgeFrom] [int] NULL,
	[AgeTo] [int] NULL,
	[UserInterest] [varchar](max) NULL,
	[UserEmail] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikes]    Script Date: 10/19/2021 1:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikes](
	[LikeId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](max) NULL,
	[LikeByUserEmail] [varchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[LikeDate] [datetime] NULL,
	[IsSuperLike] [bit] NULL,
	[IsSeen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLocation]    Script Date: 10/19/2021 1:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLocation](
	[UserLocationId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](200) NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMessage]    Script Date: 10/19/2021 1:07:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMessage](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[MessageFrom] [varchar](max) NULL,
	[MessageTo] [varchar](max) NULL,
	[MessageType] [varchar](10) NULL,
	[MessageDateTime] [datetime] NULL,
	[MessageContent] [nvarchar](max) NULL,
	[IsDeletedFrom] [bit] NULL,
	[IsDeletedTo] [bit] NULL,
	[IsSeen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 10/19/2021 1:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](500) NULL,
	[NotificationDescription] [varchar](max) NULL,
	[NotificationDateTime] [datetime] NULL,
	[NotificationByEmail] [varchar](max) NULL,
	[IsSeen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPhotos]    Script Date: 10/19/2021 1:07:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPhotos](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[UserEmail] [varchar](max) NULL,
	[IsDeleted] [bit] NULL,
	[PhotoLikes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlockUser] ON 

INSERT [dbo].[BlockUser] ([BlockId], [UserEmail], [BlockByEmail]) VALUES (1, N'sad@gmail.com', N'irfan.khan93093@gmail.com')
INSERT [dbo].[BlockUser] ([BlockId], [UserEmail], [BlockByEmail]) VALUES (2, N'aleesha@gmail.com', N'tosinoladap@gmail.com')
SET IDENTITY_INSERT [dbo].[BlockUser] OFF
SET IDENTITY_INSERT [dbo].[DatingUser] ON 

SET IDENTITY_INSERT [dbo].[DatingUser] OFF
SET IDENTITY_INSERT [dbo].[UserFilter] ON 

INSERT [dbo].[UserFilter] ([FilterId], [IsViewStyleClassic], [LocationName], [LocationLatitude], [LocationLongititude], [Gender], [Distance], [Sex], [AgeFrom], [AgeTo], [UserInterest], [UserEmail]) VALUES (5, 1, N'Nigeria', 9.87, 8.67, N'male', 20, N'straight', 5, 30, N'Nothing', N'kamran425@gmail.com')
INSERT [dbo].[UserFilter] ([FilterId], [IsViewStyleClassic], [LocationName], [LocationLatitude], [LocationLongititude], [Gender], [Distance], [Sex], [AgeFrom], [AgeTo], [UserInterest], [UserEmail]) VALUES (6, 1, N'Nigeria', 9.082, 8.6753, N'Male', 49, N'Others', 15, 67, N'Friendship', N'irfan@gmail.com')
INSERT [dbo].[UserFilter] ([FilterId], [IsViewStyleClassic], [LocationName], [LocationLatitude], [LocationLongititude], [Gender], [Distance], [Sex], [AgeFrom], [AgeTo], [UserInterest], [UserEmail]) VALUES (7, 1, N'Nigeria', 9.082, 8.6753, N'male', 10, N'straight', 5, 30, N'Nothing', N'sad@gmail.com')
SET IDENTITY_INSERT [dbo].[UserFilter] OFF
SET IDENTITY_INSERT [dbo].[UserLikes] ON 

INSERT [dbo].[UserLikes] ([LikeId], [UserEmail], [LikeByUserEmail], [IsDeleted], [LikeDate], [IsSuperLike], [IsSeen]) VALUES (28, N'irfan@gmail.com', N'kamran425@gmail.com', 0, CAST(N'2021-09-17T11:48:52.490' AS DateTime), 0, 1)
INSERT [dbo].[UserLikes] ([LikeId], [UserEmail], [LikeByUserEmail], [IsDeleted], [LikeDate], [IsSuperLike], [IsSeen]) VALUES (31, N'irfan@gmail.com', N'sad@gmail.com', 0, CAST(N'2021-09-17T11:49:41.677' AS DateTime), 0, 1)
INSERT [dbo].[UserLikes] ([LikeId], [UserEmail], [LikeByUserEmail], [IsDeleted], [LikeDate], [IsSuperLike], [IsSeen]) VALUES (32, N'irfan@gmail.com', N'Nadia@gmail.com', 0, CAST(N'2021-09-17T11:50:09.460' AS DateTime), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[UserLikes] OFF
SET IDENTITY_INSERT [dbo].[UserMessage] ON 

INSERT [dbo].[UserMessage] ([MessageId], [MessageFrom], [MessageTo], [MessageType], [MessageDateTime], [MessageContent], [IsDeletedFrom], [IsDeletedTo], [IsSeen]) VALUES (1, N'irfan.khan93093@gmail.com', N'kamran425@gmail.com', N'Text', CAST(N'2021-09-16T03:30:54.793' AS DateTime), N'Hello guys', 0, 0, 0)
INSERT [dbo].[UserMessage] ([MessageId], [MessageFrom], [MessageTo], [MessageType], [MessageDateTime], [MessageContent], [IsDeletedFrom], [IsDeletedTo], [IsSeen]) VALUES (2, N'kamran425@gmail.com', N'irfan.khan93093@gmail.com', N'Text', CAST(N'2021-09-16T03:44:24.723' AS DateTime), N'Yeh bro', 0, 0, 1)
INSERT [dbo].[UserMessage] ([MessageId], [MessageFrom], [MessageTo], [MessageType], [MessageDateTime], [MessageContent], [IsDeletedFrom], [IsDeletedTo], [IsSeen]) VALUES (3, N'sad@gmail.com', N'irfan.khan93093@gmail.com', N'Text', CAST(N'2021-09-16T03:45:01.550' AS DateTime), N'Yeh bro', 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[UserMessage] OFF
SET IDENTITY_INSERT [dbo].[UserNotification] ON 

INSERT [dbo].[UserNotification] ([NotificationID], [UserEmail], [NotificationDescription], [NotificationDateTime], [NotificationByEmail], [IsSeen]) VALUES (862, N'lol@gmail.com', N'Super Like', CAST(N'2021-10-14T08:32:29.513' AS DateTime), N'irfan.khan93093@gmail.com', 0)
INSERT [dbo].[UserNotification] ([NotificationID], [UserEmail], [NotificationDescription], [NotificationDateTime], [NotificationByEmail], [IsSeen]) VALUES (863, N'Sakina@gmail.com', N'Like', CAST(N'2021-10-14T08:46:09.107' AS DateTime), N'irfan.khan93093@gmail.com', 0)
INSERT [dbo].[UserNotification] ([NotificationID], [UserEmail], [NotificationDescription], [NotificationDateTime], [NotificationByEmail], [IsSeen]) VALUES (864, N'Sakina@gmail.com', N'Like', CAST(N'2021-10-14T08:46:49.113' AS DateTime), N'irfan.khan93093@gmail.com', 0)
GO
SET IDENTITY_INSERT [dbo].[UserNotification] OFF
SET IDENTITY_INSERT [dbo].[UserPhotos] ON 

INSERT [dbo].[UserPhotos] ([PhotoId], [Photo], [CreatedDate], [UserEmail], [IsDeleted], [PhotoLikes]) VALUES (1, N'UserImages/f49ec6bb-6304-4120-84bf-d6e21497eaad_5633.jpg', CAST(N'2021-09-13T11:56:33.283' AS DateTime), N'kamran425@gmail.com', NULL, 0)
INSERT [dbo].[UserPhotos] ([PhotoId], [Photo], [CreatedDate], [UserEmail], [IsDeleted], [PhotoLikes]) VALUES (2, N'UserImages/61f901fd-8328-4aec-a773-1979fa681a37_0857.jpg', CAST(N'2021-09-14T13:08:57.180' AS DateTime), N'irfan.khan93093@gmail.com', NULL, 0)
INSERT [dbo].[UserPhotos] ([PhotoId], [Photo], [CreatedDate], [UserEmail], [IsDeleted], [PhotoLikes]) VALUES (8, N'UserImages/c49c431b-5808-4b3c-bf3b-f2d05c5d76c3_2917.jpg', CAST(N'2021-09-15T07:29:17.527' AS DateTime), N'irfan.khan93093@gmail.com', NULL, 0)
SET IDENTITY_INSERT [dbo].[UserPhotos] OFF
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 10/19/2021 1:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[GetUsers]         
@UserEmail varchar(max)        
as        
begin        
  declare @LocationName varchar(max),@Latitude float ,@Longitude float,        
  @Gender varchar(100),@Distance float,@UserUnit varchar(10)        
  declare @sex varchar(100),@AgeFrom int,@AgeTo int,@UserInterest varchar(100),@IsRecommendSort bit        
  select @sex=Sex,@LocationName=LocationName,@Latitude=LocationLatitude,@Longitude=LocationLongititude,        
  @Gender=Gender,@Distance=Distance,@AgeFrom=AgeFrom,@AgeTo=AgeTo,@UserInterest=UserInterest from UserFilter where UserEmail=@UserEmail        
        
  select @IsRecommendSort=RecommendSort,@UserUnit=UserDistanceUnit,@Gender=UserGender from DatingUser where UserEmail=@UserEmail        
  if @Gender='Male'
  begin
    set @Gender='Female'
  end
  else
  begin
    set @Gender='Male'
  end
  if @IsRecommendSort=0        
  begin        
  select distinct du.UserInterest,du.UserAge, du.UserEmail,du.UserName,du.UserActvieStatus,du.UserPhone,du.LocationName,du.UserImage,        
  du.UserLastSeen,case when ISNULL(ul.UserEmail,'0')='0' then '0' else '1' end as IsLikeByMe,du.IsUserActive,
  case when ISNULL(ul.IsSuperLike,0)=0 then 0 else 1 end as IsSuperLikeByMe         
  ,du.UserGender,du.UserSex,du.AboutKarter,du.LookingFor,du.Height,du.Profession,        
  case when @UserUnit='Km' then (GEOGRAPHY::Point(@Latitude, @Longitude, 4326).STDistance(GEOGRAPHY::Point(du.LocationLatitude, du.LocationLongititude, 4326)))/1000       
  else (GEOGRAPHY::Point(@Latitude, @Longitude, 4326).STDistance(GEOGRAPHY::Point(du.LocationLatitude, du.LocationLongititude, 4326))/1000)*0.623  end as Distance,@UserUnit as [DistanceUnit]        
 from DatingUser du Left outer Join UserLikes ul         
  on du.UserEmail=ul.UserEmail and ul.LikeByUserEmail=@UserEmail       
  where (du.UserInterest like '%'+@UserInterest+'%'      
  or du.UserSex like '%'+@sex+'%'   
  or du.UserAge between @AgeFrom and @AgeTo             
  or (Select Distance from GetDistance(@Latitude,@Longitude,du.LocationLatitude,du.LocationLongititude,@UserEmail))<=@Distance         
  ) and du.UserEmail!=@UserEmail  and du.UserGender=@Gender
  end        
  else        
  begin        
  select distinct du.UserInterest,du.UserAge, du.UserEmail,du.UserName,du.UserActvieStatus,du.UserPhone,du.LocationName,du.UserImage,        
  du.UserLastSeen,case when ISNULL(ul.UserEmail,'0')='0' then '0' else '1' end as IsLikeByMe,du.IsUserActive,
  case when ISNULL(ul.IsSuperLike,0)=0 then 0 else 1 end as IsSuperLikeByMe          
  ,du.UserGender,du.UserSex,du.AboutKarter,du.LookingFor,du.Height,du.Profession,        
  case when @UserUnit='Km' then (GEOGRAPHY::Point(@Latitude, @Longitude, 4326).STDistance(GEOGRAPHY::Point(du.LocationLatitude, du.LocationLongititude, 4326)))/1000       
  else (GEOGRAPHY::Point(@Latitude, @Longitude, 4326).STDistance(GEOGRAPHY::Point(du.LocationLatitude, du.LocationLongititude, 4326))/1000)*0.623  end as Distance,@UserUnit as [DistanceUnit]        
  from DatingUser du Left outer Join UserLikes ul         
  on du.UserEmail=ul.UserEmail and ul.LikeByUserEmail=@UserEmail       
  where (du.UserInterest like '%'+@UserInterest+'%'      
  or du.UserSex like '%'+@sex+'%'  
  or du.UserAge between @AgeFrom and @AgeTo) and du.UserEmail!=@UserEmail  and du.UserGender=@Gender 
          
  end        
end   
GO
/****** Object:  StoredProcedure [dbo].[UserChatList]    Script Date: 10/19/2021 1:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UserChatList]  
@UserEmail varchar(max)  
as   
begin  
 select  du.IsUserActive,du.UserName,du.UserPhone,du.UserImage,um.MessageDateTime,um.MessageType,um.MessageContent,  
 (case when um.MessageFrom=@UserEmail then um.MessageTo else um.MessageFrom end) as UserEmail ,  
 (select Count(*) from UserMessage where MessageFrom=UserEmail and MessageTo=@UserEmail and IsSeen=0) AS TotalUnseenMessages  
 from DatingUser du  
 inner join    
 UserMessage um  on (@UserEmail=um.MessageFrom and um.MessageTo=UserEmail)  
 or (@UserEmail=um.MessageTo and um.MessageFrom=UserEmail)   
 where um.MessageDateTime=(select Top 1 MessageDateTime from UserMessage where (MessageFrom=@UserEmail and MessageTo=UserEmail)  
 or (MessageTo=@UserEmail and MessageFrom=UserEmail)  order by MessageDateTime desc)  
 order by um.MessageDateTime  
end

GO
/****** Object:  StoredProcedure [dbo].[UserLikeMe]    Script Date: 10/19/2021 1:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[UserLikeMe]  
@UserEmail varchar(max)  
as  
begin  
select  du.UserName,du.UserPhone,du.UserEmail,du.UserImage, 
  (select IsSeen from UserLikes where 
  UserEmail=@UserEmail and LikeByUserEmail=du.UserEmail  and ISNULL(IsSuperLike,0)!=1) as IsSeen
  from DatingUser du left outer join UserLikes ul   
  on  
   ((ul.LikeByUserEmail=du.UserEmail  and ul.UserEmail=@UserEmail) 
  or
  (ul.UserEmail=du.UserEmail  and ul.LikeByUserEmail=@UserEmail))
  and ISNULL(ul.IsSuperLike,0)!=1
  where du.UserEmail!=@UserEmail order by ul.LikeDate desc
end
GO
